<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="5.0.1" ?>
  <?define ProductName="Yubico Authenticator" ?>

   <Product Id="*" UpgradeCode="12345678-1234-1234-1234-111111111111" Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="Yubico Ab" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  Description="$(var.ProductName) $(var.ProductVersion)" />
      <Media Id="1" Cabinet="yubioathdesktop.cab" EmbedCab="yes"/>

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <Property Id="WixShellExecTarget" Value="[#yubioath-desktop.exe]" />
      <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

      <UI>
          <UIRef Id="WixUI_InstallDir" />
          <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      </UI>

      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Yubico Authenticator" />

      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ApplicationRoot" Name="Yubico">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="Yubico Authenticator">
            </Directory>
          </Directory>
         </Directory>
      </Directory>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentGroupRef Id="ApplicationFiles"/>
      </Feature>
   </Product>
</Wix>
